@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin reset-link {
	text-decoration: none;
}

@mixin create-box($width, $height, $color) {
	width: $width;
	height: $height;
	background-color: $color;
}



//mixin qullash: @include reset-list; ---------